{% extends "main/base.html" %}
{% block title %}Мої нотатки{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-6 mb-3 border-r">
        {% include "dashboard/_categories.html"%}
    </div>
    <div class="col-md-8 col-sm-6">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold">Нотатки</h4>
            <a href="{{ url_for('note.create_note') }}" class="btn btn-accent rounded-pill">
                <i class="bi bi-plus-lg"></i> Створити нотатку
            </a>
        </div>
        {% include "dashboard/_notes.html"%}
    </div>
</div>

{% endblock %}



